html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

#logo {
    max-width: 10rem;
    height: auto;
}

h1 {
    font-size: 1.25rem;
}

.header-btn:hover svg {
    fill: #fd9d0d;
}

#admin-user-btn:hover {
    color: #fd9d0d !important;
    
    span {
        background-color: #fd9d0d !important;
    }

    svg {
        fill: #0d6efd !important;
    }
}

.nav-item:hover .nav-btn {
    color: #0a59ca;
}

.nav-item .active {
    background-color: #0d6efd !important;
}

.active .nav-btn {
    color: white !important;
}

.nav-btn {
    display: flex;
    gap: .25rem;
    padding: 0 .25rem;
    background-color: transparent;
    border: none;
}

.nav-text {
    display: none;
}

@media (min-width: 576px) {
    h1 {
        font-size: 2.25rem;
    }
}

@media (min-width: 768px) {
    .navbar {
        min-width: 185px;
    }

    .nav-text {
        display: inline;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 3.25rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4.25rem;
    }
}
